@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

img{
    height: 100%;
    width: auto;
    max-width: unset;
}

nav > div > img{
    max-width: 100%;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    display: flex;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  @media screen and (min-width: 768px){
    .logos:before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
      }
      
      .logos:after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
      }
  }
  
  /* .logos:hover .logos-slide {
    animation-play-state: paused;
  } */
  
  .logos-slide {
    display: flex;
    gap: 120px;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 100px;
    @media screen and (max-width: 768px) {
        height: 75px;
    }
  }

  footer{
  }